*.class

# player jars
*.jar

# keep ivy jar
!.ivy/ivy-2.4.0.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# temporary folders
lib/
bin/

# unneeded eclipse info
.metadata/

# files being edited
*.tmp
*.bak
*.swp
*~
